@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Handjet:wght@300&family=Kotta+One&family=Lemon&family=Montserrat:ital,wght@1,300&family=Moul&family=Nosifer&family=Permanent+Marker&family=Questrial&family=Sevillana&family=Spicy+Rice&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Handjet:wght@300&family=Kotta+One&family=Lemon&family=Montserrat:ital,wght@1,300&family=Moul&family=Nosifer&family=Permanent+Marker&family=Questrial&family=Salsa&family=Sevillana&family=Spicy+Rice&family=Teko:wght@300&display=swap');
:root {
    --main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-color: blueviolet;
    --button-background: aliceblue;
    --button-hover-background: rgb(71, 75, 78);
  }
* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(248, 247, 246);
}
    .circle{
        width: 100%;
        height: 100vh;
        background-color: rgba(20, 196, 161, 0.453);
        clip-path: circle(39.2% at 0 0);
        position: absolute;
        z-index: -100;
    }
.openside{
    display: none;
    color: black;
}
.sidenav{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0d0d11da;
    z-index: 1000;


}
.my-profile-name{
    display: block;
}
.sidenav-nav{
    float: right;
    width: 0vw;
    height: 100%;
    background-color: #e0e0e0;
    transition: all ease 0.6s;
    overflow: auto;
 
}
.side-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnn{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.openside{
    color: rgb(17, 17, 32);
    font-size: 30px;
    padding: 0px 10px;
    cursor: pointer;
  }
.closeside{
    color: black;
    font-size: 35px;
    font-weight: 700;
    font-family: cursive;
    padding: 0px 10px;
    cursor: pointer;
   float: left;
}
.internal-links{
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-sec{
    height: 33%;
}
.internal-links li{
    list-style: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 20px 5px;
}
.internal-links li a{
    color: rgb(136, 70, 8);
    text-align: center;
    text-decoration: none;
}
.internal-links li a:hover{
    text-decoration: underline;
    color: white;
}


.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.inner-wrapper {
    width: 100%;
    height: 100%;
}

.navigation {
    width: 100%;
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ultag {
    list-style: none;
}

.ultag li {
    display: inline-block;
    padding: 0px 12px;
}

.ultag li a {
    text-decoration: none;
    transition: 0.3s;
    font-weight: 550;
    color: black;
}
.ultag :first-child a{
    color: rgb(237, 66, 24);
}

.ultag li a:hover {
    color: rgb(237, 66, 24);
}

#shopingcart {
    font-size: 27px;
    cursor: pointer;
}

.cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 25px;
    border-radius: 20px;
    border: 0;
    color: white;
    background-color: rgb(255, 68, 0);
    margin: 0px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(209, 78, 30);
    color: beige;
}



.navigation h1 {
    color: rgb(99, 66, 6);
    font-family: 'Lemon', serif;
    cursor: pointer;
}

.navigation h1 span {
    color: brown;
}


.homepage-wrapper {
    width: 100%;
    height: 100%;
    
}

.home-display {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 50px 0px;
    box-shadow: 600px 0px 255px rgba(167, 53, 124, 0.054) inset;
  
}

.right-display {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    padding: 0px 40px;
  
}

.left-display {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.atractive-lines {
    text-wrap: wrap;
    font-size: 50px;
    font-family: 'Salsa', cursive;
  
}

.left-display img {
    width: 78%;
    border-radius: 20px;
}
.brand{
    color: rgb(99, 66, 6);
}
.brand span{
    color: brown;

}

.my-display-btns{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0px;
}
.display-btn{
    padding: 15px 60px;
    border-radius: 15px;
    border: 0;
    background-color: rgb(209, 78, 30);
    cursor: pointer;
    color: white;
    margin: 0px 10px;
    transition: 0.3s;
}

#diaplay-btn-menu a{
   text-decoration: none;
   color: white;
   font-family: serif;
   font-weight: 600;
   font-size: 18px;
}
#diaplay-btn-menu:hover{
    background-color: rgb(123, 47, 20);
    color: white;
}
#diaplay-btn-menu:hover > a{
    color: white;
    
}

#display-btn-contact{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.268);
}
#display-btn-contact a{
   text-decoration: none;
   color: black;
   font-family: serif;
   font-weight: 600;
   font-size: 18px;
}
#display-btn-contact:hover{
    background-color: rgb(123, 47, 20);
    color: white;
}
#display-btn-contact:hover > a{
    color: white;
}


.populer-items{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 0px;
    box-shadow: -500px 0px 250px rgba(100, 3, 136, 0.054) inset;
}
.my-populercarts{
    width: 100%;
    height: 100%; 
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

   
}   
.my-cart{
    box-shadow: 20px 20px 60px black;
}
.addToCartBtn,
#addCardBtn,.cancel-btn,#side-signupBtn,.internal-links li {
  padding: 1.5vh 1vw;
  border-radius: 10px;
  border: 1px solid;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  background-color: var(--button-background);
  transition: 0.4s;
  text-wrap: nowrap;
}


.addToCartBtn:hover,
#addCardBtn:hover,.cancel-btn:hover,#side-signupBtn:hover,.internal-links li:hover {
  background-color: var(--button-hover-background);
  color: white;
}

.btn{
    height: 10%;
}
.profile-sec{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-sec img{
    width: auto;
    height: 100%;
    border-radius: 50%;
    border: 1px solid;

}
.profile-sec #profilenamesec{
    padding: 10px 0px;
}

#profilenamesec span{
    text-decoration: underline;
}

.container{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.my-cards {
    width: 100%;
    height: 100%; 
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.card {
    width: 500px;
    height: 75%;
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(243, 242, 239);
    box-shadow: 20px 20px 60px rgba(255, 255, 255, 0.336), -20px -20px 60px rgba(0, 0, 0, 0.226) inset;
    box-sizing: border-box; /* Include padding in the total height */
}

.card-image{
    width: 40%;
    height: 100%;

}
.card-image img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s;
   
}
.card:hover > .card-image img{
    transform: scale(1.04);
}
.card-details{
       text-align: center;
       width: 60%;
       height: 100%;
    
}

.food-name{
    font-size: 21px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;

}
.upper-sec{
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.lower-sec{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.257);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.food-prize{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px 10px;
}

.rating{
    /* padding: 10px 0px; */
    font-weight: 600;
}
.checked {
    color: rgb(221, 154, 29);
}
.food-description{
    padding: 10px 0px;
}



.populer-heading{
    font-size: 35px;
    font-family: serif;
    font-weight: 800;
    text-decoration: underline;
}



.filters-box {
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px;
    border-radius: 10px;
}

.fillter {
    width: 300px;
    height: auto;
    background-color: rgb(239, 234, 234);
    border-radius: 10px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;

    
}
.fillter:hover{
    box-shadow: 20px 20px 60px rgba(9, 43, 121, 0.151), -20px -20px 60px rgba(197, 192, 192, 0.59) inset;
    background-color: rgb(249, 150, 1);
}
.fillter-icon {
    width: 30%; 
    height: auto;
    margin-right: 10px; 
    border: 1px solid;
    padding: 6px;
}

.filter-link-description {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fillter-icon img{
    width: 100%;
    height: auto;
}
.fillter-name{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 0px;
}

footer{
    width: 100%;
    height: 100%;
    background-color: rgb(38, 107, 130);
}
.footer-wrapper{
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.footer-innerdiv{
    padding: 20px 0px;
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.footer-innerdiv strong{
    position: relative;
    bottom: 20%;
    font-size: 25px;
    text-decoration: underline;
}
.social-links li a i{
    color: black;  
    transition: 0.3s;
}
.social-links li a i:hover{
    color: rgb(237, 66, 24);
}
.footer-about img{
    width: 30%;
    height: auto;
    border-radius: 10%;
}
.portfolio-link{
    font-size: 20px;
    padding: 5px 0px;
    cursor: pointer;
    color: rgb(49, 49, 118);
}
.footer-about span a{
    color: rgb(48, 39, 74);
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}

#cartPopup{
    display: none;
}



.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.856);
    z-index: 1000;
}

.buy-popup-con{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.856);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    box-shadow: 20px 20px 60px rgba(255, 255, 255, 0.248), -20px -20px 60px rgba(0, 0, 0, 0.199) inset;
}
.mycartitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: underline;
}
.mycartitems span{
    width: 30%;
}
.mycartitems span img{
    width: 60%;
    border-radius: 10px;
}
.close,.open {
    position: absolute;
    top: -10px;
    right: 4px;
    cursor: pointer;
    color: #333;
    font-size: 35px;
    font-family: cursive;
    font-weight: 700;
}

.popup-upper{
    width: 100%;
    height: 20%;
    text-align: center;

}
.popup-lower{
    width: 100%;
    height: 80%;
    text-align: start;
}
.popup-title{
    font-size: 30px;
    text-decoration: underline;
    font-family: cursive;
    margin: 0;
}


.popup-title {
    margin: 0;
}

.popup-lower {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: rgba(255, 255, 255, 0.171);
    box-shadow: 20px 20px 60px rgba(255, 255, 255, 0.312), -20px -20px 60px rgba(0, 0, 0, 0.477) inset;
    border-radius: 20px;
    padding: 10px;
}
.buybtn{
    height: 12%;
    width: 15%;
    border-radius: 5px;
    border: 0;
    background-color: rgb(205, 211, 216);
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.buybtn:hover{
    background-color: rgb(58, 61, 63);
    color: white;
}
.removeBtn{
    height: 15%;
    width: 15%;
    border-radius: 5px;
    border: 0;
    background-color: rgb(205, 211, 216);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 5px 0px;
    cursor: pointer;
    transition: 0.3s;
}
.removeBtn:hover{
    background-color: rgb(58, 61, 63);
    color: white;
}



.popup-img{
    width: 10%;
}
.totalPrice,.buybtn{
    font-size: 19px;
    font-weight: 600;
    text-decoration: underline;
}

.con{
    text-align: start;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}
.buy-popup-con{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner-lower{
    text-align: start;
    font-size: 17px;
    color: black;
}
.selected{
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    

/* Style for the fixed order summary box */
.order-summary-box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: white;
    border-top: 2px solid #ccc;
    display: none;
    border-radius: 10px;
    transition: 0.3s;
    overflow: scroll;
    z-index: 2000;

}

.order-summary-box h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    text-decoration: underline;
}

.order-summary-box p {
    font-weight: bold;
    margin-top: 10px;
}
.order-box{
   text-align: center;
   padding: 30px 0px;
}

.orders {
  padding: 3vh 1.5vw;
  border-radius: 10px;
  border: 1px solid;
  font-weight: 700;
  font-family: cursive;
  cursor: pointer;
  background-color: var(--button-background);
  color: #151627;
  transition: 0.4s;
  text-wrap: nowrap;
  z-index: 700;
  position: fixed;
  bottom: 20px;
  left: 20px;
  box-shadow: 15px 10px 150px rgba(0, 0, 0, 0.614), -20px -20px 60px rgba(245, 222, 179, 0.548) inset;
  
}

#orders:hover {
  background-color: var(--button-hover-background);
  color: white;
}
.my-ordersbtn{
    width: 100%;
    height: 100%;
    z-index: 800;
    background-color: #f3f0f0;
    display: flex;
    justify-content: start;
    align-items: end;
    position: absolute;
    top: 0;
}
#currentOrders{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curentorderslist{
    width: 100%;
    height: auto;
    background-color: #efeeead6;
    margin: 10px 0px;
}


.curentorderslist li{
    height: auto;
    list-style: none;
   padding: 20px 30px;
    display: inline-block;
}



.siguppopupbkg{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.739);
    z-index: 1500;
}

#siguppopup{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 2000;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.057), -20px -20px 100px rgba(0, 0, 0, 0.222) inset;
    
}

.inputs{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputs input{
    padding: 20px 20px;
    width: 70%;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(52, 142, 177);
    margin: 10px 0px;
}

.signup-btns{
    width: 100%;
    height: 50vh;
    text-align: center;
    padding: 20px 0px;
    
}
.signup-btns button{
    width: 20%;
    height: 20%;
    cursor: pointer;
}
.signup{
    text-align: center;

}
.signup span{
    font-size: 25px;
    text-decoration: underline;
}

.login-btns{
    width: 100%;
    height: 50vh;
    text-align: center;
    padding: 20px 0px;
}
.login-btns button{
    width: 20%;
    height: 20%;
}
.login{
    text-align: center;

}
.login span{
    font-size: 25px;
    text-decoration: underline;
}

#loginpopup{
    width: 50%;
    height: 97vh;
    position: fixed;
    bottom: 2%;
    left: 27%;
    z-index: 2000;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.057), -20px -20px 100px rgba(0, 0, 0, 0.222) inset;
    
}
#siguppopup,#loginpopup{
    display: none;
}

.close{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 5px;
    text-decoration: none;
}
#profilename{
    padding: 0px 10px;
    text-decoration: underline;
}


.totalcarts{
    /* display: none; */
    padding: 2px 6px;
    background-color: #d86c6c;
    border-radius: 50%;
}
.my-carts{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.alllink{
    color: black;
}



.btn,.logoutbtn {
    padding: 10px 25px;
    border-radius: 20px;
    border: 0;
    color: white;
    background-color: rgb(255, 68, 0);
    margin: 0px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover,.logoutbtn:hover {
    background-color: rgb(209, 78, 30);
    color: beige;
}

.siguppopupbkg{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.739);
    z-index: 1500;
}
.loginpopupbkg{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.739);
    z-index: 1500;
    
}
#siguppopup{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 2000;
    background-color: #ffffff;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.057), -20px -20px 100px rgba(0, 0, 0, 0.222) inset;
    border-radius: 0;
    
}

#loginpopup{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 2000;
    background-color: #ffffff;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.057), -20px -20px 100px rgba(0, 0, 0, 0.222) inset;
    border-radius: 0;
   
    
}
.login-container{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
.login-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.login-content{
    width: 50%;
    height: 90%;
    background-color: #e6e7ec;
    border-radius: 30px;
}
.current-o-img{
    width: 100px;
    border-radius: 10px;
     
 }


 
#user-addresscon{
    display: none;
  
  }
  .user-addr{
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0%;
      background-color: #151627e6;
      z-index: 2000;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      flex-direction: column;
      
  }
  #user-addresscon textarea{
      padding: 10px;
      border: 1px solid deepskyblue;
      width: 80%;
      height: 30%;
      color: black;
      margin: 5px;
      border-radius: 10px;
  }
  #user-addresscon span{
      font-size: 25px;
      padding: 10px 0px;
      font-weight: 800;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-decoration: un;
  }